*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pictures/home/forest.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
    height: 90px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{ 
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #800f07;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}  
.text-box h1{
    font-size: 78px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 21px;
    color:#fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 40px;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.6s;
}
.hero-btn:hover{
    border: 1px solid #800f07;
    background: #800f07;
    
}



/*-------campus-------*/
.campus{
    width:80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
p{
    text-align: center;
    color:#777;
    font-size: 20px;
    font-weight: 300;

}
.campus-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.campus-col{
    flex-basis: 0 0 20%;
    border-radius: 10px;
 /*   margin-bottom: 30px;*/
    margin: 0 55px 30px;
    position: relative;
    overflow: hidden;
    text-align: center; 
}
.campus-col img {
/*    width: 100%;*/
    width: 400px;
    border-radius: 10px;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;     
    border-radius: 10px;
    transition: 0.5s;
    justify-content: center;
    object-fit: cover;

}
.layer:hover{
    background: rgba(239, 141, 114, 0.7);
}
.layer h3 {
    margin: 0;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}



/*----------testemonials---------*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
.testimonials p{
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 38px;
}
.row {
    display: flex; /* Set the display to flex to create a row layout */
    justify-content: center; /* Center the items horizontally */
}

.testimonials-col {
    flex: 0 0 45%; /* Adjust the width as needed to control the spacing between images */
    margin: 10px; /* Add margin for spacing between columns */
    margin-bottom: 2%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img {
    height: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
}
.testimonials-col h3{
    font-size: 25px;
    margin-top: 15px;
    text-align: left;
    font-weight: 700;
}
.starpic{
    border-radius: 0 !important;
    height: 26px !important;
    margin-left: 475px !important;
} 



/*------CTA--------*/
.cta{
    margin: 100px auto;
    margin-top: 50px;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(pictures/home/DUPLEX.jpg);
    background-position: center;
    background-size: cover ;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
}


